<html>
 <head>
   <meta charset="utf-8">
    <title>作業ログ</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
 </head>


<body>
    <header>
      <a id="link_to_post" href="/post"> 記事を書く </a>
    </header>

  <main>
    <div id="title">
      title
    </div>

    <div id="content">
      <div id="blog">
        <div id="blog1">
           <center> <div class="date"> <%= @date %> </div> </center>
           <center> <h1> <%= @title %> </h1> </center>

           <%= @html %>
           <div id="time"><%= @time %><br>Written by Pyons</div>
        </div>

        <div id="blog2">
           <center> <div class="date"> <%= @date2 %> </div> </center>
           <center> <h1> <%= @title2 %> </h1> </center>

           <%= @html2 %>
           <div id="time"><%= @time2 %><br>Written by Pyons</div>
        </div>


        <div id="blog3">
          <center> <div class="date"> <%= @date3 %> </div> </center>
          <center> <h1> <%= @title3 %> </h1> </center>

          <%= @html3 %>
          <div id="time"><%= @time3 %><br>Written by Pyons</div>
        </div>
      </div>

      <div id="sidebar">
        Sidebar
      </div>
    </main>

   <footer>
     footer
   </footer>

</body>

</html>