<html>
 <head>
   <meta charset="utf-8">
    <title>作業ログ</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
 </head>


<body>
    <header>
      <span class="logo">Pyons Tech Blog</span><a id="link_to_post" href="/post"> 記事を書く </a>
    </header>

  <main>
    <div id="title">
      忘備録<br><span class="subtitle">Since 2018<br>Written by Pyons</span>
    </div>

    <div id="content">
      <div id="blog">
        <div id="blog1">
           <center> <div class="date"> <%= @date %> </div> </center>
           <center> <h1> <%= @title %> </h1> </center>

           <%= @html %>
           <div id="time"><%= @time %><br>Written by Pyons</div>
        </div>

        <div id="blog2">
           <center> <div class="date"> <%= @date2 %> </div> </center>
           <center> <h1> <%= @title2 %> </h1> </center>

           <%= @html2 %>
           <div id="time"><%= @time2 %><br>Written by Pyons</div>
        </div>


        <div id="blog3">
          <center> <div class="date"> <%= @date3 %> </div> </center>
          <center> <h1> <%= @title3 %> </h1> </center>

          <%= @html3 %>
          <div id="time"><%= @time3 %><br>Written by Pyons</div>
        </div>

        <% if @backnumber_link == true %>
           <center> <a href="<%= @link %>">次のページ </a></center>
        <% end %>

      </div>

      <div id="sidebar">
        <div id="selfintro">
          <div class="person_img" >
                <img src="/img/pyons.jpg" width="80" height="80" class="icon">
          </div>
          <br><span id="name">Pyons</span>
          <br><div id="description">私大文系エンジニア。Pascalを使ったことがある22歳。<br>Ruby歴:1年</div>
        </div>
      </div>
    </main>

   <footer>
     footer
   </footer>

</body>

</html>