<html>
 <head>
   <meta charset="utf-8">
    <title>備忘録</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
 </head>


<body>
    <header>
      <span class="logo">Pyons Tech Blog</span><a id="link_to_post" href="/post"> 記事を書く </a>
    </header>

  <main>
    <div id="title">
      備忘録<br><span class="subtitle">Since 2018<br>主に技術関連</span>
    </div>


    <div id="content">
      <div id="blog">
        <div id = "category_title">
           <%= @category_title %>
        </div>
        <div id="blog1">

          <% unless @html.nil? %>
           <div id="button"><a href="/edit/<%= @id %>"><div id="edit">編集</div></a></div><br>
          <% end %>

           <center> <div class="date"> <%= @date %> </div> </center>
           <center> <h1> <%= @title %> </h1> </center>

             <%= @html %>

           <% unless @html.nil? %>
             <div id="time">Posted Time <%= @time %></div>
           <% end %>

        </div>

        <div id="blog2">

         <% unless @html2.nil? %>
           <div id="button"><a href="/edit/<%= @id2 %>"><div id="edit">編集</div></a></div><br>
         <% end %>

           <center> <div class="date"> <%= @date2 %> </div> </center>
           <center> <h1> <%= @title2 %> </h1> </center>

           <%= @html2 %>

          <% unless @html2.nil? %>
           <div id="time">Posted Time <%= @time2 %></div>
          <% end %>
        </div>


        <div id="blog3">

          <% unless @html3.nil? %>
           <div id="button"><a href="/edit/<%= @id3 %>"><div id="edit">編集</div></a></div><br>
          <% end %>

          <center> <div class="date"> <%= @date3 %> </div> </center>
          <center> <h1> <%= @title3 %> </h1> </center>

          <%= @html3 %>

          <% unless @html3.nil? %>
             <div id="time">Posted Time <%= @time3 %></div>
          <% end %>
        </div>

        <% if @backnumber_link == true %>
           <center> <a href="<%= @link %>">次のページ </a></center>
        <% end %>

      </div>

      <div id="sidebar">

        <div id="selfintro">
          <div class="person_img" > <img src="/img/pyons.jpg" width="80" height="80" class="icon"> </div><br>
          <span id="name">Pyons</span><br>
          <div id="description">20卒私大文系エンジニア。ちょっとだけPascalが書ける。<br>Ruby歴:1年</div>
        </div>

        <div id="category">
          <div id="category_title">Category<br></div>
            <% @categories_array.each do |category|%>
             <% if category['count'].to_i > 0 then %><!--そのカテゴリーの記事数が1以上ならリンクを張る。それ以外は張らない。-->
                <br><a href="/category/<%= category['id'] %>/0"><%= category['name'] %>(<%= category['count'] %>)</a><br>
             <% else %>
                <br><%= category['name'] %>(<%= category['count'] %>)<br>
             <% end %>
            <%end%>
        </div>

      </div>
    </main>

   <footer>
     footer
   </footer>

   <%if @status == "cancel"  %>
         <script>window.alert('編集はキャンセルされました。');</script>
   <%elsif @status == "deleted"  %>
         <script>window.alert('投稿は削除されました。');</script>
   <%elsif @status == "posted"  %>
         <script>window.alert('投稿が完了しました。');</script>
   <% end %>

</body>

</html>